/** 2020 红莲节 **/
@import url(./headerImage.css);

/** 修复侧拉菜单的背景图 **/
#menu .brand-wrap {
  background-size: 100% auto;
}
/* 菜单的label */
#menu .nav .label {
  /* padding-left: 10px; */
  line-height: 30px;
  color: #aaa;
  cursor: default;
}
#menu .nav .label:hover {
  background-color: unset;
}

/** 首页文章列表 **/
.post-list .post-content {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em;
}

/** Page TOC **/
.page-toc {
  list-style: none;
  padding-left: 0;
  max-height: 320px;
  overflow-y: auto;
  display: none;
}
.page-toc-container.show .page-toc {
  display: block;
}
.page-toc-title {
  text-align: left !important;
  margin-bottom: 0 !important;
}
.page-toc-toggle {
  font-size: 1rem;
  margin-left: 1rem;
}
.page-toc-toggle-link {
  color: #ff4081;
  border: none;
}
.page-toc-link {
  border: none !important;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.page-toc-item:hover {
  background-color: rgba(200, 200, 200, 0.2);
}

/** Tabber插件 **/
ul.tabbernav {
  border-bottom: 1px solid #ccc;
  font: bold 12px Verdana, sans-serif;
  margin: 0;
  padding: 3px 0;
  clear: both;
}
ul.tabbernav:after {
  content: "";
  display: block;
  clear: both;
}
ul.tabbernav li {
  list-style: none;
  float: left;
  border: solid 1px #ccc;
  border-bottom-width: 0.2em;
  text-shadow: 0 -1px 0 #ccc;
  box-sizing: content-box;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 0;
  padding: 0;
}
ul.tabbernav li a {
  margin-left: 3px;
  white-space: pre;
  display: block;
  font-size: 14px;
  padding: 10px 20px;
  border: none !important;
  text-shadow: none;
}
ul.tabbernav li a:link {
  color: #5353b1;
}
ul.tabbernav li a:visited {
  color: #667;
}
ul.tabbernav li a:hover {
  color: #000;
  text-shadow: none;
  opacity: 1;
}
ul.tabbernav li.tabberactive {
  background: #3f51b5;
}
ul.tabbernav li.tabberactive a {
  color: #ffffff;
}
ul.tabbernav li.tabberactive a:hover {
  border-bottom: 1px solid #fff;
}
.tabber .tabbertab {
  border-top: 0;
  padding: 5px;
}
.iframe #menu-toggle,
.iframe #menuShare,
.iframe #search-wrap,
.iframe #comments {
  display: none;
}
.iframe .content-header {
  min-height: 180px;
}
.iframe .header-title {
  text-align: center;
}
.iframe .bread-crumb {
  pointer-events: none;
}

/** 状态标签 **/
.status-tag {
  padding: 2px 6px;
  margin: auto 2px;
  user-select: none;
  cursor: default;
  text-transform: uppercase;
  border-radius: 2px;
  background: #888888;
  color: #ffffff;
}

.status-tag.new,
.status-tag.ok,
.status-tag.success,
.status-tag.stable,
.status-tag.done {
  background: #6cc569;
}

.status-tag.test,
.status-tag.updated,
.status-tag.dev {
  background: #6bbfe9;
}

.status-tag.fixed {
  background: #cc69e0;
}

.status-tag.deleted,
.status-tag.error,
.status-tag.fail {
  background: #c22525;
}

.status-tag.warning,
.status-tag.progress {
  background: #ff9100;
}

/** GitHub Labels **/
.status-tag.level-1 {
  background: #ff0000;
}

.status-tag.level-2 {
  background: #ff9040;
}

.status-tag.level-3 {
  background: #6eba03;
}

.status-tag.level-4 {
  background: #dff49a;
  color: #252525;
}

.status-tag.review {
  background: #d4c5f9;
  color: #252525;
}

/** 信息框 **/
.infobox {
  color: rgba(0, 0, 0, 0.7);
  margin: 1.5625em 0;
  padding: 0.6rem;
  overflow: hidden;
  font-size: 1em;
  page-break-inside: avoid;
  border-left: 0.3rem solid #00b8d4;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.05),
    0 0 0.05rem rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.dark-theme .infobox {
  background: #151515;
  color: #dfdfdf;
}

.infobox .title {
  position: relative;
  margin: -0.6rem -0.6rem 0.8em -0.6rem !important;
  padding: 0.4rem 0.6rem 0.4rem 2.5rem;
  font-weight: 700;
  background-color: rgba(66, 185, 131, 0.1);
}

.infobox .title::before {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  width: 12px;
  height: 12px;
  background-color: #42b983;
  border-radius: 50%;
  content: " ";
}

.infobox > .title,
.infobox.todo > .title {
  background-color: rgba(0, 184, 212, 0.1);
}

.infobox.warning > .title,
.infobox.attention > .title,
.infobox.caution > .title {
  background-color: rgba(255, 145, 0, 0.1);
}

.infobox.failure > .title,
.infobox.missing > .title,
.infobox.fail > .title,
.infobox.error > .title {
  background-color: rgba(255, 82, 82, 0.1);
}

.infobox.info,
.infobox.todo {
  border-color: #00b8d4;
}

.infobox.success,
.infobox.done {
  border-color: #05ad38;
}

.infobox.warning,
.infobox.attention,
.infobox.caution {
  border-color: #ff9100;
}

.infobox.failure,
.infobox.missing,
.infobox.fail,
.infobox.error {
  border-color: #ff5252;
}

.infobox.infobox > .title::before,
.infobox.todo > .title::before {
  background-color: #00b8d4;
  border-radius: 50%;
}

.infobox.success > .title::before,
.infobox.done > .title::before {
  background-color: #05ad38;
  border-radius: 50%;
}

.infobox.warning > .title::before,
.infobox.attention > .title::before,
.infobox.caution > .title::before {
  background-color: #ff9100;
  border-radius: 50%;
}

.infobox.failure > .title::before,
.infobox.missing > .title::before,
.infobox.fail > .title::before,
.infobox.error > .title::before {
  background-color: #ff5252;
  border-radius: 50%;
}

.infobox > :last-child {
  margin-bottom: 0 !important;
}

/** 面包屑 **/
.bread-crumb-container {
  text-align: center;
}
.bread-crumb {
  padding: 10px 20px;
  margin: 0;
}
.bread-crumb li {
  display: inline-block;
}
.bread-crumb li:not(:last-of-type):after {
  content: "›";
  margin: 10px;
}
.bread-crumb a {
  color: #ff4081;
}
.bread-crumb .thispage strong {
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}
.bread-crumb .icon {
  margin-right: 4px;
}

/** 修复 card 样式 **/
.card > p {
  margin-bottom: 1rem;
}

/** 可排序列表 **/
table.sortable
  th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \f0dc";
  font-family: "FontAwesome";
}

/** 移动优化 **/
/* 宽表格 */
.widetable-container {
  width: 100%;
  overflow: auto;
}
.widetable {
  min-width: 768px;
}
/* 响应式布局 */
@media screen and (max-width: 768px) {
  .card {
    width: 100% !important;
  }
}
